.mission {
    height: 280px;
    width: 357px;
    background: #ffff;

    margin-top: 30px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.mission > h5 {
    padding-top: 10px;

    font-size: 1.3rem;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
}

.mission p {
    font-size: 1.2rem;

    padding: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    color: #363636;
}